<h1>Books list</h1>


<% if @books.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>

<p>There are the current books in our system</p>
<ul id ="books">
<% @books.each do |c| %>
<li><%= link_to c.name, {:action => 'show',:controller =>'book' , :id=> c.id} -%><li>
<% end %>
</ul>
<% end %>

<p><%= link_to "Add new Book", {:action => 'new', :controller => 'book'  }%></p>
<p><%= link_to "Edit", {:action => 'edit', :controller => 'book' }%></p>
<p><%= link_to "Update", {:action => 'update', :controller =>'book' }%></p>
<p><%= link_to "Delete", {:action => 'delete', :controller =>'book'}%></p>



